@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    ViewData["Title"] = "Movies";
}
@model List<Movie>

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>LentTo</td>
            <td>Notes</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
            {
                <tr>
                    <td>@x.category.CategoryName</td>
                    <td>@x.title</td>
                    <td>@x.director</td>
                    <td>@x.rating</td>
                    <td>@x.edited</td>
                    <td>@x.lentTo</td>
                    <td>@x.note</td>
                    <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.movieId">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.movieId">Delete</a></td>
                </tr>
            }

    </tbody>
</table>